*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fcfbff;
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
    width: 100%;
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

span {
    font-size: x-large;
}

img{
  
 width: 700px;  
 height: 750px;
}

.swiper{
    padding: 100px;
    height: 750px;
}

.swiper-slide {
    text-align: center;
    display: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .swiper{
        height: 270px;
    }
    
}


#lateral {
    height: 70px;
    width: 1500px;
    text-align: center;
    font-size: 15pt;
        background-color: brown;
    justify-content: center;
    align-items: center;
 border-radius: 10px;
}

#h1 {
    padding: 5px;
    text-align: center;
}